span.input-group-addon {
    cursor: pointer;
}

.nav>li.hide-nav-item,
.hide-nav-item{
    display: none;
}

.user-head {
    width: 40px;
    height: 40px;
}

.navbar-nav>li>a.user-head-link {
    padding: 5px;
}

.room-item {
    overflow: hidden;
    line-height: 34px;
}

.delete-btn {
    margin-right: 10px;
}

.user-nums {
    margin-top: 10px;
}
